[Desktop Entry]
Name=Athena
Exec=athena run $PARAM_TYPE
MimeType=application/octet-stream;
Comment=A cross-platform file extension handler
Categories=Utility;
Terminal=true
NoDisplay=true
Type=Application
